#sddm,#sddm1
{	margin: 0;
	padding: 0;
	z-index: 1000}

#sddm li,#sddm1 li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

#sddm li a,#sddm1 li a
{	display: block;
	margin: 0 1px 0 5px;
	padding:14px 10px;
	font-size:12px;
	color:#555555;
	text-decoration:none;	
	font-weight:normal;
	float:none;
}
#sddm1 li a,#sddm1 li a:visited{
	border:1px solid red;
}

#sddm li a:hover,#sddm1 li a:hover
{
	color:#81c016;
	text-decoration:none;
}
#sddm li:hover,#sddm1 li:hover
{	
	background: url(images2/bg_navleft.png) center left no-repeat;
}
#sddm li:hover a,#sddm1 li:hover a
{	
	color:#FFFFFF;
	background: url(images2/bg_navright.png) center right no-repeat;
}

#sddm div,#sddm1 div
{	position: absolute;
	top:116px;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background:#e1e0e0;
	}
#sddm div li,#sddm1 div li{
	float:none;
}

	#sddm div a,#sddm1 div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width:auto;
		min-width:100px;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		}

	#sddm div a:hover,#sddm1 div a:hover
	{	
}

#sddm li:hover div ul li a,#sddm1 div li:hover a
{	
	background: none;
	color:#555555;
}
#sddm li:hover div ul li a:hover,#sddm1 div li:hover a
{	
	color:#81c016;
}
#sddm div ul li:hover,#sddm1 div li:hover
{	
	background: none;
}

#sddm #m1 ul
{
border:1px solid #CCCCCC;
}
#sddm #m1 ul li{
background:#FFFFFF;
border-bottom:1px dotted #666666;
}

#sddm #m1 ul li:hover{
background:#7DBF0E;
}

#sddm #m1 ul li:hover a{
color:#FFFFFF;
}




#sddm #d3{

}

#sddm #d3 ul
{
text-align:left;
float:left;
border:1px solid #CCCCCC;
}
#sddm #d3 ul li{
text-align:left;

background:#FFFFFF;
background-image:none;
border-bottom:1px dotted #666666;
}

#sddm #d3 ul li a{
text-transform:capitalize;
background-image:none;

}

#sddm #d3 ul li:hover{
background:#7DBF0E;
background-image:none;
}

#sddm #d3 ul li:hover a{
color:#FFFFFF;
}

